.credit-container {
    display: flex;
    margin: auto;
}

.payment-container {
    display: flex;
}

#qr-container img {
    bottom: 10%;
    display: flex;
    margin: auto;
    width: 50%;
}

.selector-container {
    display: inline-block;
    width: 40%;
    margin: auto;
}

.options-container {
    margin: auto;
    width: 40%;
}

.options-container button {
    display: flex;
    margin: auto;
}