.container-header {
    background: #14152c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 25px 0 25px;
}

.info-header {
    width: 25px;
}

.info-header img {
    width: 200px;
}